.cy-input {
  padding-left: 20px;
}

.cy-input-group {
  position: relative;
}

.cy-form-group {
  padding: 10px;
}

.cy-input-suffix {
  position: absolute;
  top: 7px;
  right: 10px;
}

.cy-input-prefix {
  position: absolute;
  top: 7px;
  left: 10px;
}
