.cy-input {
  padding-left: 20px;
}

.cy-input-group {
  position: relative;
}

.cy-form-group {
  padding: 10px;
}

.cy-input-suffix {
  position: absolute;
  top: 7px;
  right: 10px;
}

.cy-input-prefix {
  position: absolute;
  top: 7px;
  left: 10px;
}

.cy-label-group {
  display: flex;
  align-items: center;
}

.cy-label-icon {
  padding-left: 5px;
  margin-bottom: 0.5rem;
}

.primary-filled-button {
  background-color: #49b7e1;
  color: #fff;
  padding: 10px 30px;
  font-weight: 600;
}

.insurance-suggestion {
  text-align: center;
  margin: 10px 0px;
}

.assumption-text-wrapper {
  padding: 20px 60px;
}

.assumption-text {
  font-weight: 400;
}

.highlighted-text {
  color: #4ab9e2;
}

.underlined-text {
  text-decoration: underline;
  text-decoration-color: #f5ac44;
}

.assumption-title {
  color: #4ab9e2;
}
